<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
</head>
<body>
    <h1>Logowanie ArtUserów</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="post" action="{% url 'obrazki_app:index' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Nazwa użytkownika"><br>
        <input type="password" name="password" placeholder="Hasło"><br>
        <input type="submit" value="Zaloguj">
    </form>
    <br>
    <h1>Dla adminów</h1>
    <a href="{% url 'admin:login' %}">Go to Admin Login</a>
    <br>
    <h1>Zwykli użytkownicy</h1>
</html>



