<!DOCTYPE html>
<html>
<head>
    <title>Welcome to LOGIN SITE</title>
</head>
<body>
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    <p>Thank you for visiting.</p>
    <!-- <a href="/admin/">Go to Admin Site</a> -->
    <br>
    <!-- <a href="{% url 'loginApp:login' %}">Go to Login Page</a> -->
    <a href="{% url 'obrazkiApp:index' %}">Go to obrazkiApp index</a>
    <br>
    <a href="{% url 'loginApp:logout' %}" class="btn btn-outline">Logout</a>
    <br>
    <a href="{% url 'loginApp:home' %}" class="btn btn-outline">Return to HOME page</a>
</body>
</html>