<head>
    <title>Welcome to afterLOGIN SITE</title>
</head>
{% extends 'loginApp/base.html' %}

{% block content %}

<div class="row m-1 p-1">
    <div class="col">
        <h2>Login Page</h2>
        <a href="{% url 'loginApp:login' %}">Go to Login Page</a>
    </div>
    <div class="col">
        <h2>Admin Page</h2>
        <a href="/admin">Go to Admin Page</a>
    </div>
    <div class="col">
        <h2>Guest User Page</h2>
        <a href="{% url 'obrazkiApp:svg_list' %}">Go to Guest User Page</a>
    </div>
</div>
<br>
<footer class="p-1">
    <p>Have a great day! 😊</p>
</footer>

{% endblock content %}