<head>
    <title>Obrazki APp paagee</title>
</head>
{% extends 'obrazkiApp/base.html' %} 

{% block content %}

    <div class="m-1">
    <h1>Welcome to obrazkiAPP webapge </h1>
    <p>This is the homepage with available actions for ArtUser.</p>
    <h2>Here is a sample svg img:</h2>
    <ul>
        <li>
            <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
            </svg>
        </li>
    </ul>
    <p class="font-italic">available actions:</p>
    <a href="{% url 'obrazkiApp:svg_list' %}">Go to SVG list</a>
    <br>
    <a href="{% url 'obrazkiApp:svg_modifiable_list' %}">Go to SVG list with modifiable images</a>
    
    <p>Other:</p>
    <a href="{% url 'loginApp:afterLogin' %}">Return to AfterLogin page</a>
</div>
{% endblock content %}