<!-- <!DOCTYPE html>
<html> -->
<head>
    <title>Svg detail</title>
</head>
{% extends 'obrazkiApp/base.html' %} 

{% block content %}
    <!-- <body> -->
        <div class="m-1">

        <a href="{% url 'obrazkiApp:svg_list' %}">Return to list of SVGs</a>
        <p>NAME: {{svg_object.name}}</p> 
        {% if svg_object.description %}
            <p>DESCRIPTION: {{svg_object.description}}</p>
        {% endif %}
        <p>PUB DATE: {{svg_object.pub_date}}</p>
        <p>TAGS:</p>
        <ul>
        {% for tag in svg_object.tags.all %}
            <li> {{ tag.name }} </li>
        {% endfor %}
        </ul>
        <p>WIDTH x HEIGHT: {{svg_object.width}} x {{svg_object.height}}</p>
        <p>image:</p>
        {% load svg %}
        <h1 class="name">{% svg svg_object.name %}</h1>
        </div>
{% endblock content %}
    <!-- </body> -->
<!-- </html> -->