<!DOCTYPE html>
<html>

<body>
    <a href="{% url 'obrazkiApp:index' %}">Return to obrazkiApp main page</a>
    <h2>List of available svg images to modify:</h2>
    {% if double_list %}
    <ul>
        {% for svg_obj, thumbnail in double_list %}
        <li>
            <a href="{% url 'obrazkiApp:svg_modifiable_detail' svg_obj.id %}">
                {{ svg_obj.name }}

            </a>
            <div style="width: 50px; height: 50px;">
                <a href="{% url 'obrazkiApp:svg_modifiable_detail' svg_obj.id %}">
                    {% load svg %}
                    <p>{% svg thumbnail %}</p>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No svg images are available to be modified by You.</p>
    {% endif %}
</body>

</html>