<!DOCTYPE html>
<html>

<head>
    <p>To jest strona główna z różnymi linkami do aplikacji (podstron)</p>
</head>

<body>

    <div class="flex-column">
        <div class="flex-row">
            <a href="{% url 'polls:index' %}">
                <button>Go to Polls</button>
            </a>
        </div>
        <br>
        <div class="flex-row">
            <a href="{% url 'obrazki_app:login' %}">
                <button>Go to Obrazki</button>
            </a>
        </div>
    </div>
    <br>
</body>
<footer>
    <p>
        Stopka -- :)
    </p>
</footer>

</html>